In [27]:
import pandas as pd
import numpy as np

In [28]:
data = pd.read_csv("Data/Raw/Final_Copy_15_Oct.csv")

In [29]:
data.shape

(299428, 2)

In [30]:
def check_for_duplicates(data, input, target):
    seen = set()
    seen_index = {}

    duplicates = []

    for index in range(len(data[target])):
        sentence =str(data[target][index]).strip()

        if sentence in seen:
            previous_index = seen_index[sentence]  
            if data[input][index].strip() == data[input][previous_index].strip():  
                duplicates.append({
                    index: [data[target][index], data[input][index].strip()],
                    previous_index: [data[target][previous_index], data[input][previous_index].strip()]
                })
            else:
                continue
        else:
            seen.add(sentence)
            seen_index[sentence] = index
        
    return duplicates

In [31]:
duplicates = check_for_duplicates(data, 'eng', 'dzo')
print(len(duplicates))

30611

In [32]:
duplicates[0:10]

[{459: ['ཨིན་རུང་ ལ་ལུ་ཅིག་གིས་འབད་བ་ཅིན་ གཡུས་ཚན་གྱི་གནས་ཚད་ཁར་ ཚར་གཅིག་གུར་བཀག་ཆ་འབད་ནི་འདི་ ལཱ་ཁག་གཏང་འོང་ཟེར་ཨིན་མས།',
   'However, a few said it would be difficult at once to stop the practice at the village level.'],
  353: ['ཨིན་རུང་ ལ་ལུ་ཅིག་གིས་འབད་བ་ཅིན་ གཡུས་ཚན་གྱི་གནས་ཚད་ཁར་ ཚར་གཅིག་གུར་བཀག་ཆ་འབད་ནི་འདི་ ལཱ་ཁག་གཏང་འོང་ཟེར་ཨིན་མས།',
   'However, a few said it would be difficult at once to stop the practice at the village level.']},
 {2846: ['བྱི་ལི་འདི་ ཡིད་ཁར་འོང་ཏོག་ཏོ་འདུག།', 'The cat is adorable.'],
  2819: ['བྱི་ལི་འདི་ ཡིད་ཁར་འོང་ཏོག་ཏོ་འདུག།', 'The cat is adorable.']},
 {2847: ['བྱི་ལི་འདི་མ་ཤི་བས།', 'The cat is not dead.'],
  2820: ['བྱི་ལི་འདི་མ་ཤི་བས།', 'The cat is not dead.']},
 {2848: ['བྱི་ལི་འདི་ཉལ་ནུག།', 'The cat is sleeping.'],
  2821: ['བྱི་ལི་འདི་ཉལ་ནུག།', 'The cat is sleeping.']},
 {2849: ['རྐང་ཁྲི་འདི་ཆག་ནུག།', 'The chair is broken.'],
  2822: ['རྐང་ཁྲི་འདི་ཆག་ནུག།', 'The chair is broken.']},
 {2850: ['རྒྱབ་སྐྱོར་གྱི་སྐད་རྐྱབ་ནི་འདི་ མཚམས་འཇོག་འབད་ནུག།',
   'The cheering ceased.'],
  2823: ['རྒྱབ་སྐྱོར་གྱི་སྐད་རྐྱབ་ནི་འདི་ མཚམས་འཇོག་འབད་ནུག།',
   'The cheering ceased.']},
 {2851: ['གདམ་ཁ་འདི་ ཁྱོད་ལུ་ཡོད།', 'The choice is yours.'],
  2824: ['གདམ་ཁ་འདི་ ཁྱོད་ལུ་ཡོད།', 'The choice is yours.']},
 {3187: ['འདི་མི་བདེན།', 'This is not true.'],
  3153: ['འདི་མི་བདེན།', 'This is not true.']},
 {8011: ['ང་སྡོད་ས་ནཱ་ལུ་ཨིན།', "That's where I live."],
  2818: ['ང་སྡོད་ས་ནཱ་ལུ་ཨིན།', "That's where I live."]},
 {8012: ['ང་ལཱ་འབད་ས་ནཱ་ལུ་ཨིན།', "That's where I work."],
  2825: ['ང་ལཱ་འབད་ས་ནཱ་ལུ་ཨིན།', "That's where I work."]}]

In [33]:
def remove_duplicates(data, duplicates):
    indices_to_drop = []

    for duplicate in duplicates:
        first_index = int(list(duplicate.keys())[0])
        indices_to_drop.append(first_index)

    sorted(indices_to_drop, reverse=True)
    data = data.drop(index=indices_to_drop)
    data.reset_index(drop=True, inplace=True)
    return data

In [34]:
data = remove_duplicates(data,duplicates)

In [35]:
data.head()

,eng,dzo
0,Construction of the Padtselling Thubten Sherub...,གསར་སྤང་རྫོང་ཁག་ནང་ལུ་ པད་ཚལ་གླིང་ཐུབ་བསྟན་བཤད...
1,Around 80 percent of the works have been compl...,ལཱ་བརྒྱ་ཆ་༨༠ དེ་ཅིག་མཇུག་བསྡུ་སྟེ་ཡོདཔ་ཨིན་མས།
2,Construction of the Lhakhang which began in 20...,སྤྱི་ལོ་༢༠༡༦ ལས་བཞེངས་ནི་འགོ་བཙུགས་ཡོད་པའི་ལྷ་...
3,The Dorji Lopen of the Zhung Dratshang appoint...,གཞུང་གྲྭ་ཚང་གི་རྡོ་རྗེ་སློབ་དཔོན་གྱིས་ ད་རིས་ ...
4,Lam Yeshi is the new Lam of Khujula Goenpa in ...,བླམ་ཡེ་ཤེས་འདི་ དབང་འདུས་ཕོ་བྲང་རྫོང་ཁག་འོག་གི...

In [36]:
data1 = pd.read_csv("Data/Prepared/DCDD_10K_Parallel_Dataset.csv")
data2 = pd.read_csv("Data/Prepared/DCDD_43K_Parallel_Dataset.csv")

In [37]:
print(data1.shape)
print(data2.shape)

(10000, 2)
(43700, 2)

In [18]:
data1.head()

,eng,dzo
0,This novel is written by famous american writer,སྲུང་རྩོམ་འདི་ཨ་མི་རི་ཀའི་རྩོམ་སྒྲིག་པ་སྐད་གྲག...
1,This river isn't deep enough for this kind of ...,གཙང་ཆུ་འདི་གྲུ་ཆུང་འདི་བཟུམ་གྱི་དོན་ལུ་གཏིང་ལང...
2,This semester I failed two students for plagia...,སློབ་དུས་འདི་ནང་ང་གི་སློབ་ཕྲུག་གཉིས་དཔེ་རྐུ་ལས...
3,This song reminds me of my junior high school ...,ཞབས་ཁྲ་འདི་གིས་ང་གི་འབྲིང་རིམ་སློབ་གྲྭ་བར་མའི་...
4,This tree is the tallest and oldest in this fo...,ཤིང་འདི་ནགས་ཚལ་འདི་ནང་རིང་ཤོས་དང་རྒས་ཤོས་ཅིག་ཨིན།

In [38]:
data2.head()

,eng,dzo
0,Construction of the Padtselling Thubten Sherub...,གསར་སྤང་རྫོང་ཁག་ནང་ལུ་ པད་ཚལ་གླིང་ཐུབ་བསྟན་བཤད...
1,Around 80 percent of the works have been compl...,ལཱ་བརྒྱ་ཆ་༨༠ དེ་ཅིག་མཇུག་བསྡུ་སྟེ་ཡོདཔ་ཨིན་མས།
2,Construction of the Lhakhang which began in 20...,སྤྱི་ལོ་༢༠༡༦ ལས་བཞེངས་ནི་འགོ་བཙུགས་ཡོད་པའི་ལྷ་...
3,The Dorji Lopen of the Zhung Dratshang appoint...,གཞུང་གྲྭ་ཚང་གི་རྡོ་རྗེ་སློབ་དཔོན་གྱིས་ ད་རིས་ ...
4,Lam Yeshi is the new Lam of Khujula Goenpa in ...,བླམ་ཡེ་ཤེས་འདི་ དབང་འདུས་ཕོ་བྲང་རྫོང་ཁག་འོག་གི...

In [39]:
df = pd.concat([data, data1, data2], ignore_index=True)

In [40]:
df.head()

,eng,dzo
0,Construction of the Padtselling Thubten Sherub...,གསར་སྤང་རྫོང་ཁག་ནང་ལུ་ པད་ཚལ་གླིང་ཐུབ་བསྟན་བཤད...
1,Around 80 percent of the works have been compl...,ལཱ་བརྒྱ་ཆ་༨༠ དེ་ཅིག་མཇུག་བསྡུ་སྟེ་ཡོདཔ་ཨིན་མས།
2,Construction of the Lhakhang which began in 20...,སྤྱི་ལོ་༢༠༡༦ ལས་བཞེངས་ནི་འགོ་བཙུགས་ཡོད་པའི་ལྷ་...
3,The Dorji Lopen of the Zhung Dratshang appoint...,གཞུང་གྲྭ་ཚང་གི་རྡོ་རྗེ་སློབ་དཔོན་གྱིས་ ད་རིས་ ...
4,Lam Yeshi is the new Lam of Khujula Goenpa in ...,བླམ་ཡེ་ཤེས་འདི་ དབང་འདུས་ཕོ་བྲང་རྫོང་ཁག་འོག་གི...

In [41]:
df.shape

(322517, 2)

In [42]:
duplicates = check_for_duplicates(df, 'eng', 'dzo')

In [22]:
duplicates[0:10]

[{268818: ['གཙང་ཆུ་འདི་གྲུ་ཆུང་འདི་བཟུམ་གྱི་དོན་ལུ་གཏིང་ལངམ་སྦེ་མིན་འདུག',
   "This river isn't deep enough for this kind of boat."],
  258736: ['གཙང་ཆུ་འདི་གྲུ་ཆུང་འདི་བཟུམ་གྱི་དོན་ལུ་གཏིང་ལངམ་སྦེ་མིན་འདུག',
   "This river isn't deep enough for this kind of boat."]},
 {268819: ['སློབ་དུས་འདི་ནང་ང་གི་སློབ་ཕྲུག་གཉིས་དཔེ་རྐུ་ལས་བརྟེན་མཐར་མ་འཁྱོལ།',
   'This semester I failed two students for plagiarism.'],
  258737: ['སློབ་དུས་འདི་ནང་ང་གི་སློབ་ཕྲུག་གཉིས་དཔེ་རྐུ་ལས་བརྟེན་མཐར་མ་འཁྱོལ།',
   'This semester I failed two students for plagiarism.']},
 {268820: ['ཞབས་ཁྲ་འདི་གིས་ང་གི་འབྲིང་རིམ་སློབ་གྲྭ་བར་མའི་དུས་ཚོད་དྲན་གསོ་འབདཝ་མས།',
   'This song reminds me of my junior high school days.'],
  258738: ['ཞབས་ཁྲ་འདི་གིས་ང་གི་འབྲིང་རིམ་སློབ་གྲྭ་བར་མའི་དུས་ཚོད་དྲན་གསོ་འབདཝ་མས།',
   'This song reminds me of my junior high school days.']},
 {268822: ['མི་སྟོང་ཕྲག་ལས་བཅས་ནད་གཞི་འདི་གི་གནོད་པ་ཕོག་ཡི།',
   'Thousands of people became victims of this disease.'],
  258739: ['མི་སྟོང་ཕྲག་ལས་བཅས་ནད་གཞི་འདི་གི་གནོད་པ་ཕོག་ཡི།',
   'Thousands of people became victims of this disease.']},
 {268823: ['ཕྱི་རྒྱལ་གྱི་ཁ་སྐད་ལྷབ་ནི་གི་དོན་ལས་་དུས་ཚོད་ལེ་ཤ་དགོ་པས།',
   'To learn a foreign language requires a lot of time.'],
  258740: ['ཕྱི་རྒྱལ་གྱི་ཁ་སྐད་ལྷབ་ནི་གི་དོན་ལས་་དུས་ཚོད་ལེ་ཤ་དགོ་པས།',
   'To learn a foreign language requires a lot of time.']},
 {268825: ['ང་གི་རིག་པ་དང་འཁྲིལ་བ་ཅིན་འཐོར་གཏམ་འདི་མི་བདེན།',
   'To the best of my knowledge, the rumor is not true.'],
  258741: ['ང་གི་རིག་པ་དང་འཁྲིལ་བ་ཅིན་འཐོར་གཏམ་འདི་མི་བདེན།',
   'To the best of my knowledge, the rumor is not true.']},
 {268826: ['ཊཕས་གཙུག་ལག་སློབ་སྡེ་འདི་ བོས་ཊན་ལུ་སློབ་གྲྭ་སྐད་གྲགས་ཅན་ཅིག་ཨིན།',
   'Tufts University is a very famous school in Boston.'],
  258742: ['ཊཕས་གཙུག་ལག་སློབ་སྡེ་འདི་ བོས་ཊན་ལུ་སློབ་གྲྭ་སྐད་གྲགས་ཅན་ཅིག་ཨིན།',
   'Tufts University is a very famous school in Boston.']},
 {268827: ['དུས་ཚུད་ད་ལྟོ་ཚུན་ ཁོ་ ཁོ་རའི་ཨ་ཞང་དང་གཅིག་ཁར་སྡོད་ཡི།',
   'Up to that time he had been staying with his uncle.'],
  258743: ['དུས་ཚུད་ད་ལྟོ་ཚུན་ ཁོ་ ཁོ་རའི་ཨ་ཞང་དང་གཅིག་ཁར་སྡོད་ཡི།',
   'Up to that time he had been staying with his uncle.']},
 {268828: ['ཁྱོད་ཀྱི་སློབ་གྲྭ་གོང་མའི་དྲྭ་རིལ་རྩོདམོ་གི་སྡེ་ཚན་འདི་ སྡེ་ཚན་ལེགས་ཤོམ་སྡོད་ཡི་ག?',
   "Was your high school's basketball team a good team?"],
  258744: ['ཁྱོད་ཀྱི་སློབ་གྲྭ་གོང་མའི་དྲྭ་རིལ་རྩོདམོ་གི་སྡེ་ཚན་འདི་ སྡེ་ཚན་ལེགས་ཤོམ་སྡོད་ཡི་ག?',
   "Was your high school's basketball team a good team?"]},
 {268829: ['ཆུ་འདི་གཤེར་ཆུ་ཨིན། བསིལ་དྲགས་ཀྱི་དུས་ལུ་རྡོག་རྡོག་རིལ་རི་ལུ་འགྱུརཝ་ཨིན།',
   'Water is liquid. When it freezes, it becomes solid.'],
  258745: ['ཆུ་འདི་གཤེར་ཆུ་ཨིན། བསིལ་དྲགས་ཀྱི་དུས་ལུ་རྡོག་རྡོག་རིལ་རི་ལུ་འགྱུརཝ་ཨིན།',
   'Water is liquid. When it freezes, it becomes solid.']}]

In [43]:
print(len(duplicates))

53364

In [44]:
df = remove_duplicates(df,duplicates)

In [45]:
for data in data1['dzo']:
    if data in df['dzo']:
        print("Yes")

In [46]:
df.to_csv("Data/Prepared/Web_Scraped_Paralled_Dataset.csv", index=False)